* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Bai Jamjuree;
}

.container {
  width: 1440px;
  border: 1px solid black;
}

header {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

header img {
  width: 125px;
  height: 125px;
  margin-top: 128px;
  margin-bottom: 56px;
}


.part-1{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.part-1 h2 {
  width: 730px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 150px;
}

.buttons .ios {
  background-color: #26BBA4;
  padding: 13px 36px;
  border-radius: 15%;
  margin-right: 16px;
}

.buttons .mac {
  background-color: #6174FF;
  padding: 13px 36px;
  border-radius: 15%;
}

.buttons a {
  text-decoration: none;
}

.part-3 {
  border: 1px solid red;
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* header h1 {
  border: 1px solid black;
  margin-inline: 150px;
} */

/* .grid-container {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-columns: repeat(1,100px);
  border: 1px solid bla;
  padding: 10px;
  gap: 10px;
  align-content: center;
}

.grid-item {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item-1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.item-1 h1 {
  font-family: Bai Jamjuree;
}

.item-2 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.item-3 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.item-4 {
  grid-column: 1/4;
  grid-row: 1/4;
} */

/* .item-5 {
  grid-column: 1/4;
  grid-row: 4/4;
}

.item-6 {
  grid-column: 1/4;
  grid-row: 4/4;
} */