* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Bai Jamjuree, system-ui;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* max-width: 375px; */
  margin: auto;
  background-color: #FFF;
  padding: 123px 32px 51px 32px;

  background-image: url('/assets/img/hero-bg.png');
  background-repeat: no-repeat;
  padding-inline: 165px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero a img {
  margin-bottom: 64px;
}

.hero h1 {
  font-size: 46px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.75px;
  text-align: center;
  color: #4C545C;
  margin-bottom: 16px;


}

.hero p {
  font-weight: 400;
  max-width: 730px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin-bottom: 48px;
  text-align: center;
  color: #9EABB2;
  margin-bottom: 48px;


}

.download-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 160px;

  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 13px 36px
  }
}

.ios-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: #26BBA4;
  color: #FFF;
  padding-block: 13px;
  border-radius: 28px;
}

.mac-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: #6174FF;
  color: #FFF;
  padding-block: 13px;
  border-radius: 28px;
}

.section-snippets {
  margin-bottom: 186px;
}

.section-snippets h2 {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.59px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: #4C545C;
  margin-bottom: 16px;
}

.section-snippets p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.14px;
  text-align: center;
  color: #9EABB2;
  margin-bottom: 65px;
  padding-inline: 190px;
}

/* .imac-desktop {
  display: none;
} */

.snippets-content {
  display: flex;
  gap: 110px;
}

.snippets-content-text {
  width: 100%;
}

.snippets-content-text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.39px;
  text-align: center;
  color: #4C545C;
}

.imac-desktop {
  display: block;
  height: 406px;
  margin-left: -165px;
}

.section-clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.section-clipboard h2 {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.59px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: #4C545C;
  margin-bottom: 16px;
}

.section-clipboard p {
  font-family: Bai Jamjuree;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.14px;
  text-align: center;
  color: #9EABB2;
  margin-bottom: 64px;
  padding-inline: 190px;
}

.supercharge-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-supercharge {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
}

.section-supercharge h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.46px;
  color: #4C545C;
  margin-bottom: 11px;
}

.section-supercharge p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: #9EABB2;
}

.supercharge-text {
  margin-bottom: 90px;
}

.supercharge-item img {
  margin-bottom: 40px;
}

.supercharge-item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.39px;
  color: #4C545C;
  margin-bottom: 18px;
}

.supercharge-item p {
  margin-bottom: 56px;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 57px;
  place-items: center;
  margin-bottom: 170px;
}

.clipboards-for-ios-macos h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.46px;
  text-align: center;
  color: #4C545C;
  margin-bottom: 16px;
}

.clipboards-for-ios-macos p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  text-align: center;
  color: #9EABB2;
  margin-bottom: 46px;
  padding-inline: 190px;
}

.footer {
  margin-inline: -32px;
  background-color: #F5F7F7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 135px;
  align-items: center;
  padding-block: 52px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  gap: 20px;
  list-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.14px;
  color: #4C545C;
}

.social-media {
  display: flex;
  gap: 40px;
}